<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Chirpp", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <div class="container">
            <a href="/"><i class="fa fa-home">HOME | </i></a>
            <a href="/users"><i class="fa fa-users">USERS | </i></a>
            <a href="/posts"><i class="fa fa-users">POSTS | </i></a>
            <!--
            <a href="/posts"><i class="fa fa-comments"> Timeline</i></a>
            -->
            <%= if !@current_user do %>
              <!--
              <a href="/manage/profile"><i class="fa fa-id-card"> Profile</i></a>
              <a href="/sessions/new"><i class="fa fa-key"> Enter</i></a>
              -->
              <i class="fa fa-registered"> <%= link "REGISTER | ", to: Routes.user_path(@conn, :new) %></i>
              <i class="fa fa-registered"> <%= link "LOGIN | ", to: Routes.session_path(@conn, :new) %></i>
            <% else %>
              <%= link "NEW | ", to: ChirppWeb.Router.Helpers.user_path(@conn, :new) %>
              <%= Phoenix.HTML.Link.link("EXIT("<>@current_user.username<>") | ", to: "/logout") %>
              <!--
              <a href="/manage/profile"><i class="fa fa-id-card"> <%= @current_user.username %></i></a>
              <i class="fa fa-power-off"> <%=# link "Exit", to: Routes.session_path(@conn, :delete, @current_user), method: "delete" %></i>
              -->
            <% end %>
            <i class="far fa-sad-cry"> <a href="https://hexdocs.pm/phoenix/overview.html">DOCS | </a></i>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <%= link "DASH_BOARD", to: Routes.live_dashboard_path(@conn, :home) %>
            <% end %>
        <!-- <a href="/" class="phx-logo"> <img src="<%= Routes.static_path(@conn, "/images/logo.png") %>" alt="Home" width="58" height="64" /> </a> -->
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>